{% extends "MyTemplates/index.html" %}
<!-- carlist.html (p06 Template project) -->
<!DOCTYPE html>
<html>
{% block content %}

<head>
    <meta charset='utf-8'>
    <title>模型車賣場</title>
    <style>
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>歡迎光臨NTU模型車賣場</h2>
    <table>
        <tr>
            {% for m in car_maker %}
            <td bgcolor="#ccffcc">
                {% block url %}
                <a href="{% url 'carlist_url' forloop.counter0 %}">{{m}}</a>
                {% endblock %}
            </td>
            {% endfor %}
        </tr>
    </table>
    {% if cars %}

    <table>
        <tr>
            {% block column %}
            <th>車廠</th>
            <th>車款</th>
            {% endblock %}
        </tr>
        {% endif %}
        {% block table_content %}
        {% for c in cars %}
        <tr bgcolor="{% cycle '#eeeeee' '#cccccc' %}">
            <td>{{maker_name}}</td>
            <td>{{ c }}</td>
        </tr>
        {% empty %}
        <h3>車廠<em>{{maker_name}}</em>目前無庫存車</h3>
        {% endfor %}
        {% endblock %}
        {% if cars %}
    </table>
    {% endif %}
</body>
{% endblock %}
</html>
