{% extends "MyTemplates/carlist.html" %}
{% load humanize %}
{% block url %}
<a href="{% url 'carprice_url' forloop.counter0 %}">{{m}}</a>
{% endblock %}
{% block column %}
<tr>
    <th>車廠</th>
    <th>車款</th>
    <th>價格</th>
    <th>庫存</th>
</tr>
{% endblock %}
{% block table_content %}
    {% for c in cars|dictsort:'qty' %}
    <tr bgcolor="{% cycle '#eeeeee' '#cccccc' '#aaaaaa' %}">
        <td>{{maker_name}}</td>
        <td>{{ c.modal }}</td>
        <td>NT$ {{ c.price | floatformat:2 | intcomma }}</td>
        <td>{{ c.qty }}</td>
    </tr>
    {% empty %}
    <h3>車廠<em>{{maker_name}}</em>目前無庫存車</h3>
    {% endfor %}
{% endblock %}
